.contenedor-caja {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  width: 100%;
  height: 200px;
  
}
.buscador-producto {
  border: 1px solid black;
}
.items-cobrar {
  border: 1px solid blue;
  display: flex;
  gap: 10px;
}