.contenedor-caja {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 200px;
}
h3  {
  text-align: center;
  padding: 10px 0;
}
.productos-buscados {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(219, 218, 218);
  margin-top: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.search-productos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: white;
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.search-productos:hover {
  background-color: rgb(125, 173, 148);
}
.buscador-producto {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.items-cobrar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: rgb(230, 222, 222);
  margin: 2.5px auto;
}
.items-cobrar div:nth-child(1){
  display: flex;
  gap: 10px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
  align-items: center;
}
.items-cobrar div:nth-child(2){
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.items-cobrar div:nth-child(3){
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}
.btn-cobrar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.btn-add-item {
  position: absolute;
  right: 10px;
}
.btn-cobrar button, .btn-add-item {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: 2px 2px 4px black;
}
.cobrar-btn {
  width: 80%;
  padding: 10px;
  border: none;
  background-color: rgb(0, 183, 255);
  color: white;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cobrar-btn:hover {
  background-color: rgb(6, 136, 187);
}
.importe {
  background-color: black;
  padding: 10px;
  gap: 5px;
  width: 95%;
  min-height: 100px;
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  font-size: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.importe p {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.close {
  display: none;
}
.mdPago {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mediopago {
  padding: 10px;
  margin-right: 5px;
}

@media (min-width: 800px) {
  .importe {
    width: 35%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  .contenedor-caja {
    display: flex;
    
  }
  
  .contenedor-pc {
    display: flex;
    width: 100%;
    flex-direction: row;
  }
  .lista-productos {
    width: 80%
  }
  .importe {
    margin: 0 10px 0 0;
  }
}
  