.contenedor-caja {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  
}
h3  {
  text-align: center;
}
.productos-encontrados {
  display: flex;
  flex-direction: column;
}
.search-productos {
  display: flex;
  gap: 10px;
}
.buscador-producto {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.items-cobrar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: rgb(230, 222, 222);
  margin: 2.5px auto;
}
.items-cobrar div:nth-child(1){
  display: flex;
  gap: 10px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
  align-items: center;
}
.items-cobrar div:nth-child(2){
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-cobrar div:nth-child(3){
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}
.btn-cobrar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.btn-cobrar button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: 2px 2px 4px black;
}

.importe {
  background-color: black;
  width: 30%;
  min-height: 100px;
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  font-size: 20px;
}
.importe p {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .importe {
    width: 95%;
  }
}