.contenedor-caja {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  
}
h3  {
  text-align: center;
}
.buscador-producto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.items-cobrar {
  border: 1px solid blue;
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
.lista-productos {
  border: 1px solid green;
}
.importe {
  background-color: grey;
  width: 95%;
  min-height: 100px;
  margin: 0 auto;
  border-radius: 10px;
}