.contenedor-item-menu-caja {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 100px;
  height: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 888;
  background-color: white;
  box-shadow: 2px 2px 4px black;;
  border-radius: 5px;
}
.btn-items-caja {
  background-color: black;
  border-radius: 5px;
  padding: 5px;
}

@media (min-width: 800px) {
  .contenedor-item-menu-caja {
    display: none;
  }
}
