.contenedor-lista {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-lista h3 {
  margin-top: 1rem;
}
.lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto; 
}

.buscador {
  margin: 10px 0;
}

.btn-scann{
  margin-left: .5rem;
  border: none;
  cursor:pointer;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  transition: .2s ease-in-out
}
.btn-scann:hover {
  background-color: grey;
}
@media (max-width: 500px) {

}