.loaderg {
  width: 20px;
  aspect-ratio: 1;
  display: grid;
  border: 2px solid #0000;
  border-radius: 50%;
  border-right-color: black;
  animation: l15 1s infinite linear;
  
}
.loaderg::before,
.loaderg::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loaderg::after {  
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}