.contenedor-login {
  position:fixed ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
}

.aside-izq {
  position: fixed;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100dvh;
  background-color: green;
  transform: skew(-50deg);
}

.contenedor-img {
  width: 40%;
  height: 40%;
  transform: skewX(20deg); 
  position: absolute;
  right: 40px; 
  top: 10px;
}

.contenedor-img img {
  transform: skewX(40deg);
  width: 100%;
  height: auto;
}

.aside-der {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-form-login {
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-login {  
  gap: 10px;
}

.form-login input {
  padding: 0.8rem 1rem;
  border: 1px solid #d0d7de;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  transition: all 0.2s ease;
  background-color: #f9fafb;
}

input:focus {
  border-color: #4caf50;
  background-color: #ffffff;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.15);
}

input[type="text"]::placeholder {
  color: #9ba0a5;
}
.form-login input[type='password']{
  width: 80%;
}

.span-password {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.btn-ojos {
  border: none;
  background: transparent;
}
.btn-entrar {
  padding: 10px;
  border: none;
  background-color: rgb(0, 183, 255);
  color: white;
  cursor: pointer;
}

.btn-crear-cuanta {
  color: rgb(0, 183, 255);
  border: none;
  background: transparent;
  cursor: pointer;
}

@media (max-width: 500px) {
.aside-izq { 
  position: static;
 width: 100%;
 height: 50dvh;
 display: flex;
  justify-content: center;
   align-items: flex-start;
  
transform: skew(0);
}
.contenedor-img {
  width: 30%;
  height: 20%;
  transform: skewX(20deg);
  position: static;
  right: auto;
  top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(0);
  height: auto;
  margin-top: 20px;;
}


.contenedor-img img {
  transform: skew(0);
  width: 100%;
  height: auto;
}

  .aside-der {
    width: 100%;
    align-items:flex-end;
  }
  .contenedor-form-login {
    width: 90%;
    margin-bottom: 20px;
  }
}